<div class="payroll-form-container">
  <div class="container-form">
    <form class="edit-payroll" (ngSubmit)="onSubmit()">
      <h2>Register Payment</h2>
      <button type="button" class="close-btn" (click)="closeForm()">✖</button>
      <span>Fill the payment information</span>

      <app-input-field
        *ngFor="let field of fields"
        [iconClass]="field.icon"
        [type]="field.type"
        [placeholder]="field.placeholder"
        [options]="field.options || []"
      ></app-input-field>

      <button class="btn" type="submit">Register</button>
    </form>
  </div>
</div>
