.feature-card {
  background: var(--white);
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  text-align: center;
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: translateY(-10px);
}

.feature-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.feature-icon i {
  font-size: 3em;
  color: var(--dark-blue);
}

.feature-card h3 {
  font-size: 1.2em;
  color: var(--black);
  margin-bottom: 10px;
}

.feature-card p {
  color: var(--black2);
  font-size: 0.9em;
}
