<div class="schedule-form-container">
  <div class="container-form">
    <form class="edit-schedule">
      <h2>Register Schedule</h2>
      <span>Fill the schedule information</span>

      <label class="field-label">Start Time</label>
      <div class="container-input">
        <i class='bx bx-time'></i>
        <input type="time" placeholder="Start Time">
      </div>

      <label class="field-label">End Time</label>
      <div class="container-input">
        <i class='bx bx-time'></i>
        <input type="time" placeholder="End Time">
      </div>

      <label class="field-label">Break Start</label>
      <div class="container-input">
        <i class='bx bx-coffee'></i>
        <input type="time" placeholder="Break Start">
      </div>

      <label class="field-label">Break End</label>
      <div class="container-input">
        <i class='bx bx-coffee'></i>
        <input type="time" placeholder="Break End">
      </div>

      <button class="btn">Register</button>
    </form>
  </div>
</div>