<div class="nav">
    <ul>
        <li appActiveLink>
            <a href="#">
                <span class="icon"><i class='bx bx-aperture'></i></span>
                <span class="title">Logo</span>
            </a>
        </li>
        <li appActiveLink>
            <a href="/login">
                <span class="icon"><i class='bx bxs-log-in'></i></span>
                <span class="title">Log in</span>
            </a>
        </li>
        <li appActiveLink>
            <a href="/dashboard">
                <span class="icon"><i class='bx bxs-home'></i></span>
                <span class="title">Dashboard</span>
            </a>
        </li>
        <li appActiveLink>
            <a href="/schedules">
                <span class="icon"><i class='bx bxs-time'></i></span>
                <span class="title">Schedule</span>
            </a>
        </li>
        <li appActiveLink>
            <a href="/payrolls">
                <span class="icon"><i class='bx bxs-credit-card'></i></span>
                <span class="title">Payroll</span>
            </a>
        </li>
        <li appActiveLink>
            <a href="#">
                <span class="icon"><i class='bx bxs-door-open'></i></span>
                <span class="title">Absences</span>
            </a>
        </li>
        <li appActiveLink>
            <a href="#">
                <span class="icon"><i class='bx bxs-buildings'></i></span>
                <span class="title">Departments</span>
            </a>
        </li>
        <li appActiveLink>
            <a href="#">
                <span class="icon"><i class='bx bxs-log-out'></i></span>
                <span class="title">Log out</span>
            </a>
        </li>
    </ul>
</div>
