<div class="employee-container">
        <div class="container-form">
            <form action="" class="edit-employe">
                <h2>Register Employee</h2>
                <span>Fill the fields to register a new employee</span>
                <div class="container-input">
                    <i class='bx bxs-user'></i>
                    <input type="text" placeholder="First Name">
                </div>
                <div class="container-input">
                    <i class='bx bxs-user'></i>
                    <input type="text" placeholder="Last Name">
                </div>
                <div class="container-input">
                    <i class='bx bx-envelope'></i>
                    <input type="text" placeholder="Email">
                </div>
                <div class="container-input">
                    <i class='bx bx-phone'></i>
                    <input type="text" placeholder="Phone number">
                </div>
                <div class="container-input">
                    <i class='bx bxs-color'></i>
                    <select name="roles">
                        <option value="opcion1">Role 1</option>
                        <option value="opcion2">Role 2</option>
                        <option value="opcion3">Role 3</option>
                    </select>
                </div>
                <div class="container-input">
                    <i class='bx bx-user-voice'></i>
                    <select name="Headquarte">
                        <option value="opcion1">headquarter 1</option>
                        <option value="opcion2">headquarter 2</option>
                        <option value="opcion3">headquarter 3</option>
                    </select>
                </div>
                <div class="container-input">
                    <i class='bx bx-buildings'></i>
                    <select name="departments">
                        <option value="opcion1">department 1</option>
                        <option value="opcion2">department 2</option>
                        <option value="opcion3">department 3</option>
                    </select>
                </div>
                <button class="btn">Register</button>
            </form>
        </div>

        <div class="info-container">
            <div class="info">
                <h3>Register Employee</h3>
                <p>
                    Here you can register new employees information. Please make sure to fill in all the fields correctly.
                </p>
            </div>
        </div>

    </div>
