<div class="employee-container">
  <div class="container-form">
    <form class="edit-employe" (ngSubmit)="onSubmit()">
      <h2>Register Employee</h2>
      <span>Fill the fields to register a new employee</span>

      <app-input-field
        *ngFor="let field of fields"
        [iconClass]="field.icon"
        [type]="field.type"
        [placeholder]="field.placeholder"
        [options]="field.options || []"
      ></app-input-field>

      <button class="btn" type="submit">Register</button>
    </form>
  </div>

  <div class="info-container">
    <div class="info">
      <h3>Register Employee</h3>
      <p>
        Here you can register new employees information. Please make sure to fill in all the fields correctly.
      </p>
    </div>
  </div>
</div>