<div class="dashboard-preview">
  <div class="preview-text">
    <h2>Artificial Intelligence at Your Service</h2>
    <p>
      Our system integrates advanced analytics to help you make better decisions
      about your human capital, predict trends, and optimize team performance.
    </p>
    <app-button [buttonText]="'Register here'" [routerLink]="'/login'">
    </app-button>
  </div>

  <div class="preview-image">
    <img
      src="https://www.cyberclick.es/hs-fs/hubfs/04.%20BLOG/Dashboard%20de%20DataBox.png?width=796&height=579&name=Dashboard%20de%20DataBox.png"
      alt="Dashboard Preview"
    />
  </div>
</div>
