<form class="sign-in" [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <h2>Log in</h2>
  <div class="social-networks">
    <i class="bx bxl-google"></i>
    <i class="bx bxl-github"></i>
  </div>
  <span>Use your username and password</span>

  <app-input-field
    *ngFor="let input of inputs"
    [iconClass]="input.iconClass"
    [type]="input.type"
    [placeholder]="input.placeholder"
    [formControlName]="input.name"
    [control]="loginForm.get(input.name)"
  >
  </app-input-field>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <a href="#">Forgot your password?</a>

  <button
    class="btn"
    type="submit"
    [disabled]="loginForm.invalid"
    (mouseenter)="markAllAsTouched()"
  >
    Log in
  </button>
</form>
